.projectCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  /* flex-direction: column; */
  /* background-color: #fff; */
  /* border-radius: 5px; */
  /* box-shadow: 0 2px 4px #0003; */
  padding: 24px;
}
.emptyContainerStyles {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px #0003;
  padding: 24px;
}
.emptyContainerStyles p {
  color: #808080;
  margin-top: 10px;
}
.emptyContainerStyles svg {
  height: 50px;
  opacity: 0.5;
}
.cardWrapperStyles {
  margin-top: 24px;
}
@media (min-width: 1440px) {
  .projectCardsContainer {
    padding: 0;
    padding-top: 24px;
  }
}
