.header {
  padding-left: 76px;
  height: 64px;
  width: 100%;
  background-color: #1c2637;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 20%);
  z-index: 100;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border-top-left-radius: 20px;
  background-color: #fff;
  justify-content: space-between;
}
.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 76px;
  height: 100%;
  padding: 20px 0;
  background-color: #1c2637;
  z-index: 101;
}
.contentContainer {
  min-height: 100vh;
  padding-top: 64px;
  /* padding: 80px 20px 30px 20px; */
  background-color: #eeeeee;
  margin-left: 76px;
}
.navBarIconContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 170px);
  width: 100%;
  margin-top: 54px;
  color: #fff;
}
.navBarIconContainer svg {
  height: 20px;
}
.navBarIconContainer ul {
  padding: 0;
  margin: 0;
}
.navBarIconContainer li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.newProjectButton {
  font-size: 14px;
  padding: 8px 16px;
  border: 1px solid #42a476;
  color: #42a476;
  background-color: #fff;
  transition: all 0.3s;
}
.newProjectButton:active {
  transform: scale(0.98);
}
.newProjectButton:hover {
  color: #fff;
  background-color: #42a476;
}
.videoButton,
.audioButton,
.videoScreenShareButton {
  font-size: 14px;
  padding: 8px 16px;
  border: 1px solid #3a95c9;
  color: #3a95c9;
  transition: all 0.3s;
  margin-left: 16px;
}
.videoButton:hover,
.audioButton:hover,
.videoScreenShareButton:hover {
  /* background-color: rgb(45, 120, 164); */
  color: #fff;
  background-color: #3a95c9;
}

.videoButton:active,
.audioButton:active,
.videoScreenShareButton:active {
  transform: scale(0.98);
}
