.iconWrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: #1c2637;
  border-left-width: 5px;
  border-left-color: #363e50;
  border-left-style: solid;
}
.iconWrapper:hover {
  background-color: #363e50;
}
.activeButton {
  background-color: #363e50;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border: none;
  width: 100%;
  cursor: pointer;
  border-left-width: 5px;
  border-left-color: #363e50;
  border-left-style: solid;
}
.activeButton svg {
  color: #3a95c9;
}
.iconTextStyles {
  font-size: 11px;
  line-height: 12px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
}
