.binContainerStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px #0003;
  padding: 24px;
}
.binContainerStyles p {
  color: #808080;
  margin-top: 10px;
}
.binContainerStyles svg {
  height: 50px;
  opacity: 0.5;
}
