.wrappingStyles {
  display: grid;
  width: 100%;
  /* padding: 24px; */
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'form previewBox'
    'createdProjects createdProjects';
}
.formStyles {
  grid-area: form;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.formStyles label,
.formStyles input,
.formStyles select {
  margin-bottom: 16px;
}
.formStyles input,
.formStyles select {
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 5px;
}
.formButtonStyles {
  margin-top: 48px;
  background-color: #14ad84;
  transition: all 0.3s;
}
.formButtonStyles:active {
  transform: scale(0.98);
}
.formButtonStyles:hover {
  background-color: #149e77;
}

.previewBoxStyles {
  grid-area: previewBox;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.previewContainerStyles {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 24px;
}
.cardsListWrapperStyles {
  display: flex;
  padding: 0;
}
.projectCardWrapperStyles {
  width: 400px;
  list-style: none;
  margin-right: 8px;
}
.createdProjectsBoxStyles {
  grid-area: createdProjects;
  padding: 24px;
}
