.contentContainer {
  min-height: 100vh;
  background-color: #eeeeee;
  max-width: 1440px;
  padding: 0 24px 0 24px;
  margin: 32px auto;
}
/* .splittedElements {
  display: grid;
  height: calc(100vh - 150px);
  column-gap: 20px;
  grid-template-columns: 4fr 1fr;
} */
