.contentContainer {
  min-height: 100vh;
  background-color: #eeeeee;
}
.dashboardButtonLine {
  margin-bottom: 10px;
}
.dashboardButtonLine a {
  margin-right: 20px;
}

.videoButton,
.audioButton,
.videoScreenShareButton {
  background-color: #3a95c9;
  transition: all 0.3s;
}
.videoButton:hover,
.audioButton:hover,
.videoScreenShareButton:hover {
  background-color: rgb(45, 120, 164);
}

.videoButton:active,
.audioButton:active,
.videoScreenShareButton:active {
  transform: scale(0.98);
}
.splittedElements {
  display: grid;
  height: calc(100vh - 150px);
  column-gap: 20px;
  grid-template-columns: 4fr 1fr;
}
