.header {
  padding-left: 76px;
  height: 64px;
  width: 100%;
  /* background-color: #0f5b47; */
  background-color: #3d5a80;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 20%);
}
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border-top-left-radius: 20px;
  background-color: #fff;
}
.dashboardButtonLine {
  margin-bottom: 10px;
}
.dashboardButtonLine button {
  margin-right: 20px;
}
.dashboardGreenButton {
  /* background-color: #0f5b47; */
  /* background-color: #3d5a80; */
  background-color: #13ae47;
  /* background-color: #293241; */
  /* background-color: #ee6c4d; */
  /* background-color: #98c1d9; */
}
.videoButton,
.audioButton,
.videoPlusButton {
  /* background-color: #9b1d1d; */
  /* background-image: linear-gradient(to right, #0f5b47, #9b1d1d); */
  /* background-color: #98c1d9; */
  /* background-color: #3d5a80; */
  /* background-color: #ee6c4d; */
  background-color: #8850dc;
  /* background-color: #276a5d; */
  /* background-color: #293241; */
  /* -webkit-transition: box-shadow 0.5s, background 0.5s;
  -moz-transition: box-shadow 0.5s, background 0.5s;
  transition: box-shadow 0.5s, background 0.5s; */
  transition: all 0.3s;
}
.videoButton:hover,
.audioButton:hover,
.videoPlusButton:hover {
  /* box-shadow: 3px -3px 5px #98c1d9, -3px 3px 5px #3d5a80;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s; */
  transform: scale(1.03);
}
.videoButton:active,
.audioButton:active,
.videoPlusButton:active {
  /* background: linear-gradient(to right, #293241 0%, #3d5a80 100%);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s; */
  transform: scale(0.98);
}
.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 76px;
  height: 100%;
  padding: 20px 0;
  /* background-color: #0f5b47; */
  background-color: #3d5a80;
}
.navBarIconContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 170px);
  width: 100%;
  margin-top: 54px;
  color: #fff;
}
.navBarIconContainer svg {
  color: #fff;
  height: 20px;
}
.navBarIconContainer ul {
  padding: 0;
  margin: 0;
}
.navBarIconContainer li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contentContainer {
  min-height: 100vh;
  padding: 80px 20px 30px 20px;
  background-color: #eeeeee;
  margin-left: 76px;
}
.dashboard {
  display: grid;
  min-height: calc(100vh - 150px);
  column-gap: 20px;
}
.splittedElements {
  display: grid;
  min-height: calc(100vh - 150px);
  column-gap: 20px;
  grid-template-columns: 2fr 1fr;
}
.fullSize {
  display: grid;
  min-height: calc(100vh - 150px);
  column-gap: 20px;
  grid-template-columns: 1fr;
}
.audioButtons {
  /* background-color: #1e6a9e; */
  /* background-color: #98c1d9; */
  /* background-color: #3e7972; */
  background-color: #293241;
  /* background-image: linear-gradient(to right, #9b1d1d, #1e6a9e); */
}
.videoPlusButtons {
  /* background-color: #771e9e; */
  /* background-color: #e0fbfc; */
  /* background-color: #ee6c4d; */
  /* background-color: #293241; */
  /* background-color: #558888; */
  /* background-color: #293241; */
  /* background-image: linear-gradient(to right, #1e6a9e, #771e9e); */
}
